doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="origin-trial", content=GoogleWebVROriginTrialToken)
    title #{description}
    script(src= fileRoot + "node_modules/primrose/Primrose" + jsExt)
    link(type="text/css", rel="stylesheet", href= fileRoot + "style" + cssExt)
  body
    canvas#frontBuffer(tabindex="1")
    #fsb
    script(src=fileRoot + packageName + jsExt)