*
  box-sizing border-box

html, body, canvas, progress, #fsb
  position absolute
  top 0
  left 0
  margin 0
  border 0
  padding 0

html, body, canvas, progress
  width 100%
  height 100%

button
  width 2em
  height 2em
  margin 5px
  font-size 24pt
